


<div class="middle-wide center loginscreen  animated fadeInDown">
    <div>

        <img ui-sref="landing" src="../../img/Logo2.png" height="285" width="300"/>

    </div>
    <h1></h1> <h1></h1>

        <div class="col-lg-8">
            <div class="ibox" style="align-content: center">

                <div class="ibox-content wizard">
                    <h2>
                        Register Here
                    </h2>

                    <p>
                        You can register here and join our International movement.

                    </p>

                    <div class="steps clearfix">
                        <ul>

                            <li ui-sref-active="current">
                                <a ui-sref=".step_one" class="btn-default"><span>1</span> Profile Information</a>
                            </li>
                            <li ui-sref-active="current">
                                <a ui-sref=".step_two" class="btn-default"><span>2</span> Membership Information</a>
                            </li>
                            <li ui-sref-active="current">
                                <a ui-sref=".step_three" class="btn-default"><span>3</span> Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard">
                        <div class="content">

                            <form name="signupForm" ng-submit="processForm()" class="p-lg">

                                <!-- our nested state views will be injected here -->
                                <div id="form-views" ui-view></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>



