<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 animated fixed">
            <div class="content">
                <h2><strong>Add New User</strong></h2>
                <hr>
                <div class="form-group">
                    <label class="font-noraml">Full Name <strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="User.FullName" placeholder="Full Name">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">User Name <strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="User.UserName" placeholder="Username">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Password <strong>*</strong></label>
                    <div class="input-group date">
                        <input type="password" class="form-control" ng-model="User.UserPass" placeholder="password">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Email Address <strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="User.Email" placeholder="Type Email Address">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">User Privilege <strong>*</strong></label>
                    <div class="input-group date">
                        <select class="form-control" name="show-filter" ng-model="User.Privilege" ng-options="option.id as option.name for option in Privileges">
                        </select>
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <br><br>
                <div class="form-group pull-right">
                    <button ng-click="ok()" class="btn btn-white" type="submit">Cancel</button>
                    <button ng-click="addUser(User)" class="btn btn-primary"  type="submit">Save User</button>
                </div>
            </div>
        </div>
    </div>
</div>
