<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 animated fixed">
            <div class="content">
                <h2><strong>Edit Member Contact</strong></h2>
                <hr>
                <div class="form-group">
                    <label class="font-noraml">First Name<strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="Contact.first_name" placeholder="First Name">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Middle Name<strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="Contact.middle_name" placeholder="Middle Name">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Last Name<strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="Contact.last_name" placeholder="Last Name">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Phone Number</label>
                    <div class="input-group date">
                        <input type="text" class="form-control ng-valid ng-touched ng-not-empty ng-dirty ng-valid-parse" placeholder="Phone Number" ng-model="Contact.phone" required="">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Age <strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="Contact.age" placeholder="Email">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Sex<strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="Contact.sex" placeholder="Location">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Description <strong>*</strong></label>
                    <div class="input-group date">
                        <textarea type="text" rows="5" class="form-control" ng-model="Contact.description" placeholder="Contact Group Description"></textarea>
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <button ng-click="updateContact(Contact)" class="btn btn-primary pull-right"  type="submit">Update Contact</button>
                    <button ng-click="removeContact(Contact)" class="btn btn-danger pull-left"  type="submit">Remove Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>
