<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 animated fixed">
            <div class="content">
                <h2><strong>Add New Contact Group</strong></h2>
                <hr>
                <div class="form-group">
                    <label class="font-noraml">Group Name <strong>*</strong></label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ng-model="Group.Name" placeholder="Group Name">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-noraml">Description <strong>*</strong></label>
                    <div class="input-group date">
                        <textarea type="text" rows="5" class="form-control" ng-model="Group.Description" placeholder="Contact Group Description"></textarea>
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                    </div>
                </div>
                <br><br>
                <div class="form-group pull-right">
                    <button ng-click="ok()" class="btn btn-white" type="submit">Cancel</button>
                    <button ng-click="addGroup(Group)" class="btn btn-primary"  type="submit">Add Group</button>
                </div>
            </div>
        </div>
    </div>
</div>
